# Firebase Client - BROWSER
NEXT_PUBLIC_FIREBASE_API_KEY=*****
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=*****
NEXT_PUBLIC_FIREBASE_PROJECT_ID=*****
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=*****
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=*****
NEXT_PUBLIC_FIREBASE_APP_ID=*****
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=*****

# App URL - for auth redirect link
NEXT_PUBLIC_APP_URL=http://localhost:3000

# Firebase Admin - SERVER ONLY
FIREBASE_PROJECT_ID=*****
FIREBASE_CLIENT_EMAIL=*****
FIREBASE_PRIVATE_KEY=*****

# Resend - SERVER ONLY
RESEND_API_KEY=*****
RESEND_FROM_EMAIL=onboarding@resend.dev
RESEND_TEMPLATE_ID=c3761b4f-a0e3-4983-aa5d-11a7c174bace

# Neon PostgreSQL - SERVER ONLY
DATABASE_URL=*****